<div class="row">
  <div class="col-auto">
    <div class="nav nav-pills nav-flush flex-column mb-auto text-center nav-main-menu">
      <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
        <li class="nav-item">
          <a class="nav-link active py-3 border-bottom rounded-0" routerLink="#">Livro</a>
        </li>
        <li class="nav-item">
          <a class="nav-link py-3 border-bottom rounded-0" routerLink="#">Autor</a>
        </li>
        <li class="nav-item">
          <a class="nav-link py-3 border-bottom rounded-0" routerLink="#">Assunto</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="col">
    <router-outlet></router-outlet>
  </div>
</div>